{
  "cniVersion": "0.3.1",
  "name": "bridge",
  "type": "bridge",
  "bridge": "cnio0",
  "isGateway": true,
  "ipMasq": true,
  "ipam": {
    "type": "host-local",
    "ranges": [
      [{"subnet": "{{ pod_cidr.stdout }}"}]
    ],
    "routes": [
      {"dst": "0.0.0.0/0"}
    ]
  }
}